
.container-admin{
  height: auto;
  width: 100vw;

  .admin{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: auto;
    background-color: $herbe;
    width: 100%;
    align-items: center;  
    padding-bottom: 20px; 
    padding-top: 100px; 
    
  }
  }
  
  /************************************MEDIA QUERIES******************************************/
@media screen and (min-width: 1500px) {
  
  .container-admin .admin {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;  
    

    
    
  }

}