.body-employe{
    min-height: 110vh;
    height: auto;
    width: 100vw;
    background-color: $herbe;
    

    >.container-services {
        overflow: hidden; 
      
        > .background-image {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
    }   

    
    >.container-employe{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-bottom: 20px;
        min-height: 200px;
        height: auto;
        width: 100%;
        gap: 50px;
        align-items: center;
       
        
    } 
    
}
/************************************MEDIA QUERIES******************************************/
@media screen and (min-width: 1500px) {
    
    .body-employe >.container-employe{
        
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 0px;
        padding-bottom: 80px ;
        
    } 

}