

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 60px; 
    display: flex;
    justify-content: space-between;
    background-color: $feuille;
    width: 100%;
    align-items: center;
    box-shadow: $boxShadow;
    z-index: 2;
    
   >.nav-link{
       position: fixed;
       top: 0px;
       left: 0;
       height: calc(100vh - 60px); 
       width: 180px;
       display: flex;
       flex-direction: column;
       background-color: $feuille;
       margin-left: -100%;
       transition: all 0.5s ease;
    }
    
    >.mobile-menu {
        margin-left: 0;
        border-bottom-right-radius: 50px;
        background-color: $feuille;
        box-shadow: $boxShadow;
    }
    
    >.nav-link ul{
        padding-top: 170px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        height: 80%;   
    }    
    
    >.nav-link ul li{
        margin: 15px 15px;  
    }   
    
    .div-burger{
        height: 55px;
        width: 55px;
        position: fixed;
        top: 5px;
        left: calc(100vw - 60px);
        background-color: $feuille;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        
        >img{
            margin: auto;  
            height: 30px;
            width: 30px;               
        }
    }
    
    a{
        color: $terre;
    }
    
    .nav-active{
        text-decoration: underline;
        text-decoration-color: $eau;
        text-underline-offset: 10px; 
        text-decoration-thickness: 2px; 
        text-decoration-style: wavy;  
        
    }
    
    .burger:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
    
    .navbar .nav-link ul li:hover{
        transform: scale(1.1);
    }
}

 .logo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
    border: 5px solid $feuille;
    border-bottom-right-radius: 30px;
    background-color: $feuille;
    box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
    z-index: 3;
}

.logo img {
    height: 90%;
    width: 90%;
    border-radius: 25px;
}

    /************************************MEDIA QUERIES******************************************/
@media screen and (min-width: 640px) {
 
    .mobile-menu{
        width: 100%;
        border-radius: 0px;
    }

       a{
        font-size: 2em;
       }

    .navbar .logo{
        box-shadow: none;
    }
}